{% extends "TrackerBundle::layout.html.twig" %}

{% block content %}
    <p>{{ 'layout.issues_where_you_are_a_collaborator'|trans({}, 'TrackerBundle') }}:</p>
        {{ render(controller(
        'TrackerBundle:Issue:listByCollaborator'
        )) }}

    <p>{{ 'layout.activity_list'|trans({}, 'TrackerBundle') }}:</p>
    {{ render(controller(
    'TrackerBundle:Activity:list'
    )) }}
{% endblock %}