{% extends "TrackerBundle::layout.html.twig" %}

{% block content %}
    <p>
    <p><b>{{ 'layout.issues_where_you_are_as_collaborator'|trans({}, 'TrackerBundle') }}:</b></p>
        {{ render(controller(
        'TrackerBundle:Issue:listByCollaborator'
        )) }}
    </p>
    <hr>
    <p>
    <p><b>{{ 'layout.activity_list'|trans({}, 'TrackerBundle') }}:</b></p>
    {{ render(controller(
    'TrackerBundle:Activity:listWhereUserIsProjectMember'
    )) }}
    </p>
{% endblock %}