{% block content %}
    {% if users|length > 0 %}
        <table width="700">
            <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.getFullName() }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        {{ 'issue.collaborators_not_found'|trans({}, 'OroTrackerBundle') }}
    {% endif %}
{% endblock %}