body {
    font-size: 14px;
    font-family: "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}
h1.title {
    font-size: 45px;
    padding-bottom: 30px;
}
.sf-reset h2 {
    font-weight:   bold;
    color:         #FFFFFF;
    /* Font is duplicated of body (sans-serif) */
    font-family:      "Lucida Sans Unicode", "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;

    margin-bottom:    10px;
    background-color: #aacd4e;
    padding:          2px 4px;
    display:          inline-block;
    text-transform:   uppercase;

}
p {
    line-height:    20px;
    padding-bottom: 20px;
}
#symfony-header {
    position: relative;
    padding: 30px 30px 20px 30px;
}

.sf-reset .symfony-blocks-welcome > div {
    background-color: whitesmoke;
    float:            left;
    width:            240px;
    margin-right:     14px;
    text-align:       center;
    padding:          26px 20px;
}
.sf-reset .symfony-blocks-welcome > div.block-demo {
    margin-right: 0;
}
.sf-reset .symfony-blocks-welcome .illustration {
    padding-bottom: 20px;
}
.sf-reset .symfony-blocks-help > div {
    width:        254px;
    float:        left;
}
.flash-message {
    background-color: #eee;
    margin: 10px 0 !important;
    padding: 5px !important;
    font-weight: bold;
    width: 800px;
}
.sf-reset .error {
    color: red;
}
#login label, #contact_form label {
    display: block;
    float: left;
    width: 90px;
}
.sf-reset ul#menu {
    float: right;
    margin-bottom: 20px;
    padding-left: 0;
}
.sf-reset #menu li {
    padding-left: 0;
    margin-right: 10px;
    display: inline;
}
.sf-reset a,
.sf-reset li a {
    color: #08C;
    text-decoration: none;
}
.sf-reset a:hover,
.sf-reset li a:hover {
    color: #08C;
    text-decoration: underline;
}
.sf-reset .symfony-content pre {
    white-space: pre;
    font-family: monospace;
}

.block .description {
    font-size: 20px;
    font-weight: bold;
    margin: 0 10px 20px 0 !important;
}

.block .breadcrumb {
    display: block;
    font-size: 12px;
    margin-bottom: 20px;
}

form div label {
    display: block;
}

form li {
    color: red;
}

.sf-reset .block {
    padding: 20px 70px 20px 10px !important;
    position: relative;
}

.page-actions {
    position: absolute;
    margin-left: 90% !important;
    top: 10px;
    font-size: small;
}

table {
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
}
table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DFDFDF;
    color: #336B6B;
    padding: 10px !important;
    text-align: center !important;
    text-shadow: 1px 1px 1px #fff;
    font-weight: bold;
}
table tbody td {
    border: solid 1px #DDEEEE;
    color: #333;
    padding: 10px !important;
    text-shadow: 1px 1px 1px #fff;
}

table tbody tr:nth-child(odd) {
    background-color: #fff;
}
table tbody tr:nth-child(even) {
    background-color: #FCFCFC;
}